version: '3.8'

services:
  frontend:
    build:
      context: .
      args:
        - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
        - NEXT_PUBLIC_USDA_API_KEY=${NEXT_PUBLIC_USDA_API_KEY}
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NEXT_PUBLIC_API_BASE_URL=${NEXT_PUBLIC_API_BASE_URL}
      - NEXT_PUBLIC_USDA_API_KEY=${NEXT_PUBLIC_USDA_API_KEY}